<launch>
  <!-- Launch the grid map tutorial demo node -->
  <node pkg="grid_map_yh" type="traversalCheck" name="traversalCheck" output="screen" >
s
    <param name="slopeCritical" value="1"/>

    <param name="stepCritical" value="0.15"/>
    <param name="stepRadiusFirst" value="1.2"/>
    <param name="stepRadiusSecond" value="1.2"/>
    <param name="cellsCritical" value="8.0"/>s

  </node>

  <!-- Launch the grid map visualizer -->
  <!--node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find grid_map_yh)/cfg/traversalCheck_Viz.yaml" />
  </node-->

  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grid_map_yh)/cfg/pointsToMap.rviz" />

</launch>
